<div class="d-flex">
    <div class="first-flex" >
        <img class="img-first-flex" src="assets/img/estudiando.jpg" alt="Estudiando">
    </div>
    <div class="second-flex">
        <div class="container">
            <div class="center-img-second-flex">
                <img class="img-second-flex" src="assets/img/login.png" alt="login">
            </div>
            <form [formGroup]="formulario" (ngSubmit)="logear()" >
                <div class="mb-3">
                  <label class="form-label">Codigo de Usuario</label>
                  <input type="text" class="form-control" placeholder="Usuario" formControlName="usuario">
                  <div *ngIf="formulario.controls['usuario'].errors?.['required']" class="form-text">El usuario es obligatorio</div>
                  <div *ngIf="formulario.controls['usuario'].errors?.['pattern']" class="form-text">El usuario solo contiene numeros</div>
                </div>

                <div class="mb-3" [ngStyle]="{'padding-bottom':'20px'}" >
                  <label class="form-label">Contraseña</label>
                  <input type="password" class="form-control" value="" placeholder="Password" formControlName="password">
                  <div *ngIf="formulario.controls['password'].errors?.['required']" class="form-text">La contraseña es obligatoria</div>
                </div>
                
                <button type="submit" class="btn btn-primary">Conectar</button>
                <button class="btn btn-primary" [routerLink]="['/registro']" >Registrarse</button>
            </form>
        </div>
    </div>
</div>